/* .App {
  width: 350px;
  border: 1pt solid lightgrey;
  border-radius: .5em;
  padding: 3%;
  display: grid
  grid-template-columns: 50% 50%;
}

.checkout_container {
  display: grid;
  grid-template-columns: 50% 50%;
}

h4 h2 {
  border: 1pt solid black 
}

.item_container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.underline {
  text-decoration: underline;
}

.tooltip { 
  display: none; 
}

.tooltip-on-hover:hover + .tooltip { 
  display: inline-block; 
} */
